.container {
    margin-top: 100px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #343a40;
}

.form-label {
    font-weight: 500;
    margin-bottom: 10px;
    color: #495057;
}

.form-control {
    border-radius: 5px;
}

.invalid-feedback {
    font-size: 14px;
    color: #dc3545;
}

.btn {
    border-radius: 5px;
    font-weight: 500;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.position-relative span {
    font-size: 20px;
    color: #6c757d;
}

.position-relative span:hover {
    color: #495057;
}
